                <div class="large-4 small-6 columns" id='task<%=task.id%>'>
                  <img src="http://loremflickr.com/200/200/people/?random=<%= rand 1..100 %>">
     
                  <div class="panel ajustepanel" >
                    <h5><%= task.description %></h5> 

                    <p><%= task.datedue %></p> 

                    <h6 class="subheader"><%= task.status  ? 'Completado' : 'Convocatoria abierta' %></h6></br>

                     
                    <%= link_to 'Mostrar', task, class: "button default tiny ourb" %>
                    <%= link_to 'Editar', edit_task_path(task), remote: :true,  class: "button default tiny ourb"  %>
                    <%= link_to 'Borrar', task, remote: :true, method: :delete, data: { confirm: '¿Seguro?' }, class: "button alert tiny ourb" %>

                  </div>
                </div>