                <div class="large-4 small-6 columns" id='task<%=task.id%>'>
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel" >
                    <h5><%= task.description %> <%= link_to 'Mostrar', task %>
                    <%= link_to 'Editar', edit_task_path(task), remote: :true %>
                    <%= link_to 'Borrar', task, remote: :true, method: :delete, data: { confirm: '¿Seguro?' } %></h5>
                    <h6 class="subheader"><%= task.status  ? 'Completado' : 'Convocatoria abierta' %></h6>
                  </div>
                </div>